
@import 'bootstrap/dist/css/bootstrap.min.css';

.app {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 20px;
  height: calc(100vh - 40px);
  font-size: large;
  font-weight: bold;
  transition: all .5s;
  overflow-y: auto;

  button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
  }
  

}

._red  {
  background: red;
}

._green  {
  background: green;
}

._blue  {
  background: blue;;
}

._black  {
  background: black;
}
