.contents {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
  -ms-scroll-limit: 0 0 0 0;

    .contents_area {
           display: flex;
           flex-direction: column;
           flex: 1;
    }
    .sidebar{
           width: 45px;
           background: #29262B;
           display: flex;
           flex-flow: row wrap;
           justify-content: center;
           align-content: space-between;
           border-right: solid 1px white;
           height:100vh;
           .sidebar_menu {
            list-style-type: none;
            padding: 0;
            width: 45px;
            .sidebar_menu_item {
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;
              height: 45px;
              cursor: pointer;
              &:hover {
                background-color: rgba(56, 166, 229,1);
              }

              &.active {
                background-color: rgba(56, 166, 229,1);
              }
              
              .icon {
                width: 20px;
                height: 20px;
              }

            }
          }
    }
  
}