.scrollTopBtn {
  position: fixed;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  background: #000;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.infinite-list-container {
  width: 300px;
  margin: 0px;
  padding: 0px;
  /* margin-top: 10px; */
  /* height: 599px; */
  height: 400px;
  overflow: hidden scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
  margin-top: 100px;
}

.infinite-list-phantom {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
}

.infinite-list {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  text-align: center;
}

.infinite-list-item {
  background: white;
  border-bottom: 1px solid #edebe9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  background-size: cover;
}

.right-section {
  height: 100%;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: green;
}

.title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  height: 14px;
}

.desc {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  height: 12px;
}
